[submodule "ext/jQuery/plugins/jQuery-File-Upload"]
	path = ext/jQuery/plugins/jQuery-File-Upload
	url = git@github.com:blueimp/jQuery-File-Upload.git
[submodule "ext/jQuery/plugins/floatThead"]
	path = ext/jQuery/plugins/floatThead
	url = git@github.com:mkoryak/floatThead.git
[submodule "ext/jQuery/plugins/simplemodal"]
	path = ext/jQuery/plugins/simplemodal
	url = git@github.com:ericmmartin/simplemodal.git
[submodule "mod/profile/v1.10.0"]
	path = mod/profile/v1.10.0
	url = git@git.rdo.belhard.com:core2/modules/profile.git
[submodule "mod/repo/v1.4.1"]
	path = mod/repo/v1.4.1
	url = git@git.rdo.belhard.com:core2/modules/repo.git
[submodule "mod/queue/v1.4.0"]
	path = mod/queue/v1.4.0
	url = git@git.rdo.belhard.com:core2/modules/queue.git
[submodule "mod/cron/v3.0.1"]
	path = mod/cron/v3.0.1
	url = git@git.rdo.belhard.com:core2/modules/cron.git
[submodule "mod/webservice/v1.10.0"]
	path = mod/webservice/v1.10.0
	url = git@git.rdo.belhard.com:core2/modules/webservice.git
[submodule "mod/billing/v1.7.0"]
	path = mod/billing/v1.7.0
	url = git@git.rdo.belhard.com:core2/modules/billing.git
[submodule "mod/profile/v1.11.0"]
	path = mod/profile/v1.11.0
	url = git@git.rdo.belhard.com:core2/modules/profile.git
