RewriteEngine on

RewriteCond %{REQUEST_FILENAME} ^(.*\.swf)$ [OR]
RewriteCond %{REQUEST_FILENAME} ^(.*\.jpg)$ [OR]
RewriteCond %{REQUEST_FILENAME} ^(.*\.png)$ [OR]
RewriteCond %{REQUEST_FILENAME} ^(.*\.gif)$ [OR]
RewriteCond %{REQUEST_FILENAME} ^(.*\.css)$ [OR]
RewriteCond %{REQUEST_FILENAME} ^(.*\.js)$
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^(.*)$ - [L]

RewriteRule ^(.*)$ http://masha24.by