html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
    background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);
    color: #777;
}
.login-form {
    width: 350px;
    padding: 40px 30px;
    -moz-border-radius: .25em;
    -webkit-border-radius: .25em;
    border-radius: .25em;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    background-color: #fff;
    box-shadow:  0 0 2em rgba(0,0,0,0.2);
}
.log-btn {
    border: 0;
    font-size: 12px;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    color: white;
    background: #8E49E8;
    text-transform: uppercase;
    border-radius: 4px;
    letter-spacing: .1em;
    transition: background .2s;
}
.log-btn:hover {
    background: #A678E2;
}
.logo-container {
    text-align: center;
    margin-bottom: 60px;
}
#error {
    color: red;
    margin-bottom: 15px;
}
#UserName {
    margin-bottom: 15px;
    height: 40px;
}
#gfhjkm {
    margin-bottom: 30px;
    height: 40px;
}