html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
    background: #ededed;
    background: radial-gradient(0% 100%, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    color: #777;
}
.login-form {
    width: 320px;
    padding: 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    border: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.2);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.log-btn {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    color: white;
    width: 100%;
    background: #428bca;
    border: 0;
    border-radius: 4px;
    transition: background .2s;
}
.log-btn:hover {
    background: #286090;
}
.logo-container {
    text-align: center;
    margin-bottom: 60px;
}
#error {
    color: red;
    margin-bottom: 15px;
}
#UserName {
    margin-bottom: 15px;
    height: 40px;
}
#gfhjkm {
    margin-bottom: 30px;
    height: 40px;
}

.error-message {
    color: #e50000;
}

/*
PRELOADERS
*/
#preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;
    z-index: 100000;
}
#preloader > .lock-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 10px #D8D8D8;
    -moz-box-shadow: inset 0 0 10px #D8D8D8;
    -o-box-shadow: inset 0 0 10px #D8D8D8;
    box-shadow: inset 0 0 10px #D8D8D8;
    opacity: .2;
    cursor: wait;
}
#preloader > .block {
    min-width: 140px;
    max-width: 200px;
    padding: 8px 15px;
    background: #ffffff;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #cdd1d8;
    margin-left: -73px;
    display: block;
    position: absolute;
    right: auto;
    text-align: left;
    left: 50%;
    top: 22px;
    z-index: 1031;
    -webkit-box-shadow: 0 1px 8px #ccc;
    box-shadow: 0 1px 8px #ccc;
}
#preloader > .block .spinner-icon {
    width: 18px;
    height: 18px;
    box-sizing: border-box;
    border: solid 2px transparent;
    border-top-color: #01a8fe;
    border-left-color: #01a8fe;
    border-radius: 50%;
    float: left;
    margin-right: 13px;
    -webkit-animation: preloader-spinner 400ms linear infinite;
    animation: preloader-spinner 400ms linear infinite;
}
#preloader > .block .spinner-text {
    display: inline-block;
}