a {color: #337AB7}
#main {
    height: 100%;
    width: 100%;
}
#main-content {
    position: relative;
    background-color: #e6e6e6;
    -webkit-transition: width 0.3s ease-in-out;
       -moz-transition: width 0.3s ease-in-out;
         -o-transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
    height: 100%;
    width: 100%;
    overflow: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
}
#main-content #sidebar-toggle {
    background-color: #3e5a70;
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 21px;
    padding: 10px 15px 15px 16px;
    position: relative;
    height: 50px;
    width: 50px;
}
#menu-container {
    position: relative;
    float: left;
    width: 240px;
    color: #FFFFFF;
    padding-bottom: 40px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
         -o-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
    z-index: 20;
}
#menu-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 240px;
    overflow: auto;
    background-color: #3e5a70;
    box-shadow: inset -1px 0 3px 0 #444;
    direction: rtl;
    -webkit-transition: all 0.3s ease-in-out;
       -moz-transition: all 0.3s ease-in-out;
         -o-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
}
#home-button > a {
    padding-left: 17px;
    padding-right: 10px;
    white-space: nowrap;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 50px;
    text-decoration: none;
    height: 50px;
    display: block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    direction: ltr;
}
#main #home-button > a.home-select,
#main #home-button > a:hover {
    background-color: #00000036;
    outline: none;
    border-left: 3px solid #2196F3;
    padding-left: 14px;
}
#home-button > a > i {
    display: none;
}
#navbar-top {
    margin-bottom: 0;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
       -moz-box-shadow: 0 1px 2px rgba(0,0,0,.3);
        -ms-box-shadow: 0 1px 2px rgba(0,0,0,.3);
         -o-box-shadow: 0 1px 2px rgba(0,0,0,.3);
            box-shadow: 0 1px 2px rgba(0,0,0,.3);
    position: fixed;
    left: 240px;
    right: 0;
    -webkit-transition: left 0.3s ease-in-out;
       -moz-transition: left 0.3s ease-in-out;
         -o-transition: left 0.3s ease-in-out;
            transition: left 0.3s ease-in-out;
}
#navbar-top .navbar-right {
    float: right;
    margin-right: 0;
}
.navbar-header {
    float: left;
}
#main-content > .navbar-default {
    background-color: #FFFFFF;
    border: none;
}
#user-section {
    padding: 0 10px;
    margin-right: 0;
}
#user-section .nav-item a {
    height: 50px;
    width: 50px;
    line-height: 32px;
    font-size: 20px;
    color: #BDBDBD;
}
#menu-row-1 {
    height: 60px;
    background-color: #fff;
}
#menu-row-2 {background-color: #F0F0F0}
#menu-row-2 > td {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
    height: 20px;
}
#menu-modules {
    padding: 0;
    padding-bottom: 40px;
    margin: 0;
    overflow-x: auto;
}
#menu-modules .menu-module,
#menu-modules .menu-module-selected {
    list-style: none;
}
#menu-modules .menu-module a,
#menu-modules .menu-module-selected a {
    color: #dae5eb;
    position: relative;
    display: block;
    padding: 10px 16px 10px 17px;
    text-decoration: none;
    text-align: left;
    direction: ltr;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
#menu-modules .menu-module a > .module-icon-letter,
#menu-modules .menu-module-selected a > .module-icon-letter {
    display: none;
}

#menu-modules .menu-module:hover a,
#menu-modules .menu-module a:hover,
#menu-modules .menu-module a:focus,
#menu-modules .menu-module.module-hover a,
#menu-modules .menu-module-selected a {
    border-left: 3px solid #2196F3;
    background-color: #00000026;
    padding-left: 14px;
    outline: none;
}
#menu-modules .module-submodules > a {
    padding: 8px 16px 8px 36px;
    line-height: 16px;
}
#menu-modules .menu-module.module-hover a,
#menu-modules .menu-module > a:hover,
#menu-modules .menu-module-selected > a.index-select,
#menu-modules .module-submodules > a:hover {
    background-color: #00000040;
}

#menu-modules .menu-module-selected.module-isset-submodules > a.index-select,
#menu-modules .menu-module-selected > a:hover,
#menu-modules .menu-module-selected > .module-submodules > a:hover {
    background-color: #00000040;
}
#menu-modules a.module-submodules-selected {
    background-color: #00000040;
}
#menu-submodules {
    margin: 0;
    margin-top: -1px;
    list-style: none;
    position: fixed;
    left: 240px;
    top: 200px;
    -webkit-box-shadow: 1px 0 2px #666;
       -moz-box-shadow: 1px 0 2px #666;
        -ms-box-shadow: 1px 0 2px #666;
         -o-box-shadow: 1px 0 2px #666;
            box-shadow: 1px 0 2px #666;
    display: none;
    min-width: 160px;
    width: auto;
    background-color: #3e5a70;
    padding: 7px 0 7px 0;
    z-index: 999;
}
#menu-submodules .menu-submodule,
#menu-submodules .menu-submodule-selected {
    list-style: none;
    display: block;
    min-width: 160px;
    width: auto;
    background-color: #3e5a70;
    z-index: 999;
}
#menu-submodules .menu-submodule a,
#menu-submodules .menu-submodule-selected a,
#menu-submodules .submenu-module-title a {
    font-size: 14px;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    padding: 3px 20px;
    white-space: nowrap;
    width: 100%;
}
#menu-submodules .menu-submodule:hover a,
#menu-submodules .submenu-module-title:hover a,
#menu-submodules .submenu-module-title.selected a,
#menu-submodules .menu-submodule-selected a {
    background-color: #00000026;
}
#menu-submodules .submenu-module-title a {
    font-weight: bold;
}
#user-section {
    color: #463265;
}
#user-section .dropdown-toggle {
    display: inline-block;
    padding: 10px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-image: none;
    border: 1px solid transparent;
    height: 50px;
}
#user-section .dropdown-toggle .fa-user {margin-right: 10px}
#user-section .dropdown-toggle .fa-caret {margin-left: 5px}
#user-section .dropdown-menu > li > a {color: #463265}
#user-section .dropdown-menu i {margin-right: 5px}

#user-section .active .dropdown-menu > li.active > a,
#user-section .active > a {
    background-color: #F0F0F0;
    color: #463265;
}
#user-section > .nav {
    height: 50px;
    line-height: 30px;
    margin: 0;
    float: left;
}
#user-section .dropdown-user-login {
    font-size: 14px;
    color: #2e2e2e;
    line-height: 20px;
    padding: 0 20px;
    white-space: nowrap;
}
.nav-feedback .feedback-container textarea {
    min-width: 240px;
    max-width: 240px;
    min-height: 100px;
    max-height: 250px;
}
#user-section #msgCount {
    background-color: #FF4C80;
    position: absolute;
    right: 5px;
    padding: 3px 0;
    min-width: 15px;
    height: 15px;
    text-align: center;
    margin-right: 1px;
    float: left;
    font-size: 10px;
    -webkit-animation: pulse_msg .8s infinite ease-out;
       -moz-animation: pulse_msg .8s infinite ease-out;
            animation: pulse_msg .8s infinite ease-out;
}
#user-section .avatar-container {
    width: 28px;
    display: inline-block;
    height: 28px;
    margin-right: 8px;
    margin-bottom: -8px;
    border: 1px solid transparent;
    overflow: hidden;
    border-radius: 20px;
    position: relative;
}
#user-section .avatar-container img {
    margin-top: -1px;
    margin-left: -1px;
}
.nav-second-level-toggle {
    padding-top: 4px;
    position: absolute;
    right: 15px;
}
#menu-modules .menu-module-selected > a i,
#menu-modules .menu-module-selected > a b,
#menu-modules .menu-module > a i,
#menu-modules .menu-module > a b {
    min-width: 18px;
    display: inline-block;
}

/* Mobile */
@media(max-width:767px) {
    #main #main-content {
        margin-left: 0;
        position: absolute;
    }
    #main #menu-container {
        position: fixed;
        margin-left: -240px;
    }
    #main #navbar-top {left: 0}
    #main.s-toggle #main-content {
        margin-left: 0;
        overflow: hidden;
    }
    #main #mainContainer {
        overflow: auto;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 30px 30px 30px;
    }
    #main #mainContainer #main_body {
        width: -moz-min-content;
        width: min-content;
        min-width: 100%;
    }
    #main.s-toggle #menu-wrapper {
        margin-left: 240px;
    }
    #main .swipe-area {
        z-index: 1;
    }
    #main.s-toggle .swipe-area {
        left: 240px;
        background-color: rgba(0, 0, 0, 0.5);
        width: 100%;
        position: fixed;
        z-index: 5000;
    }
    #main.s-toggle #navbar-top {
        left: 240px;
    }
    #main-content > .navbar-default {
         min-width: 100%;
         position: absolute;
    }
    table.editTable > tr > td,
    table.editTable > tbody > tr > td {
        display: block;
        text-align: left
    }
    table.editTable > tr > td:nth-child(2),
    table.editTable > tbody > tr > td:nth-child(2) {
        margin-bottom: 15px;
    }
    .buttons-container .buttons-offset {
        width: 0 !important;
    }
    .ext-open #main .ext-panel,
    .pdf-open #main .pdf-panel {left: 0}
    body.modal-open .modal {
        overflow: auto;
    }
    body.modal-open .modal-content {
        width: min-content;
        min-width: 100%;
    }
    .nav > li.nav-settings > a,
    .nav > li.nav-billing > a,
    .nav > li.nav-messages > a,
    .nav > li.nav-feedback > a {
        padding: 10px 8px;
    }
}
/* Desktop */
@media(min-width:768px) {
    #main #navbar-top {left: 240px;}
    #main.s-toggle #main-content {margin-left: 0;}
    #main.s-toggle #menu-container {width: 50px;}
    #main.s-toggle #menu-wrapper {width: 50px;}
    #main.s-toggle #navbar-top {left: 50px}
    #main.s-toggle .nav-second-level-toggle {display: none;}
    #main.s-toggle .menu-module-selected a,
    #main.s-toggle .menu-module a {color: transparent}
    #main.s-toggle .menu-module-selected a i,
    #main.s-toggle .menu-module a i {color: #fff}
    #main.s-toggle #menu-submodules {left: 50px}
    #main.s-toggle #home-button > a span {display: none;}
    #main.s-toggle #home-button > a i {display: inline;}

    #main.s-toggle .menu-module a > .module-title,
    #main.s-toggle .menu-module-selected a > .module-title {
        font-size: 0;
    }
    #main.s-toggle .menu-module a > .module-title > i,
    #main.s-toggle .menu-module-selected a > .module-title > i {
        font-size: 14px;
    }

    #main.s-toggle .menu-module a > .module-icon-letter,
    #main.s-toggle .menu-module-selected a > .module-icon-letter {
        display: inline-block;
        color: #fff;
        font-weight: 600;
        margin-left: 2px;
    }

    .ext-open #main.s-toggle .ext-panel,
    .pdf-open #main.s-toggle .pdf-panel {left: 50px}

    .navbar-top-links .dropdown-messages,
    .navbar-top-links .dropdown-tasks,
    .navbar-top-links .dropdown-alerts {margin-left: auto;}
}


@-moz-keyframes pulse_msg {
    0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
    50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1) }
    100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
}

@-webkit-keyframes pulse_msg {
    0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
    50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1) }
    100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
}

@-o-keyframes pulse_msg {
    0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
    50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1) }
    100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
}

@-ms-keyframes pulse_msg {
    0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
    50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1) }
    100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
}

@keyframes pulse_msg {
    0% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
    50% { -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1) }
    100% { -webkit-transform: scale(0.9); -moz-transform: scale(0.9); -ms-transform: scale(0.9); -o-transform: scale(0.9); transform: scale(0.9) }
}