#mailbox-list {
    width: 400px;
    float: left;
    margin-right: 15px;
}
#mailbox-message {
    padding-left: 15px;
    margin-left: 415px;
}
#mailbox-message .toolbar,
#mailbox-list .toolbar {
    height: 34px;
    line-height: 34px;
    margin-bottom: 10px;
    margin-top: 15px;
}
#mailbox-message .toolbar {
    border-bottom: 1px solid silver;
}



#mailbox-message .files {
    background-color: #FFFFFF;
    border: 1px solid #B7B7B7;
    border-radius: 4px;
    padding-left: 5px;
    margin-top: 20px;
    display: inline-block;
    width: 100%;
}
#mailbox-message .files .file {
    background-color: #E1E1E1;
    border-radius: 3px;
    display: inline-block;
    float: left;
    margin: 5px 5px 5px 0;
    padding: 5px;
}
#mailbox-message .preview img {
    border-radius: 4px;
    border: 0;
}

.pull-left {float: left}
.pull-right {float: right}
.clearfix {clear: both;}