body {
	margin:0px 0px 0px 0px;
	font-family:Tahoma;
	font-size:11px;
	height:100%;
	width:100%;
	background:transparent;
}
html {
	height:100%;
	background:transparent;
}
table {
	border:0px; 
	border-collapse:collapse; 
	empty-cells: show;
}
table td{
	padding:0px;
	font-size:11px;
}
table.with td{
	padding:2px;
	font-size:11px;
}

pre {
	margin: 0;
}

pre span {
	font-family: Tahoma;
	font-size: 11px;
}

.error {
	width:90%;
	display:none;
	border:1px solid red !important;
	margin:7px !important;
	padding:7px !important;
	color:red !important;
	background-color:#ffff8c !important;
}
.block {display:block}
.completed {
	width:90%;	
	border:1px solid green;
	margin:7px;
	padding:7px;
	color:green ;
	background-color: #afa;
}
.input, select {
	border: solid 1px #CCCCCC;
	font-size:11px;
}

.checkbox {
	border:0;
}

hr {
	width:100%;
}
textarea {
	border: solid 1px #CCCCCC;
	font-family:Tahoma;
	font-size:11px;
	padding-left:3px;
	padding-left:3px;
}

table.parentTable {
	width: 100%;
}
table.parentTable td.parentHeader {
	background-color: #eeeeee;
	background: transparent url(img/list_header_repeat.png) repeat-x;
	border: 1px solid #CCCCCC;
	padding: 3px 5px 3px 5px;
	font-weight: bold;
	height:25px;
	font-size: 12px;
}
table.parentTable td {
	border: 1px solid #CCCCCC;
	padding: 5px;
}
#main_body {
	height: 100%;
	width: 100%;
}

/*
TOP MENU
*/

.menu_items, .menu_items_selected {
	cursor:pointer;
	background-image: url("img/menu_button_background.gif");
	width: 98px;
	height: 29px;
	font-size:10px;
	color: #000000;
	float:left;
	text-align:center;
	line-height: 26px;
}
.menu_block {
	display: inline-block;
  line-height: 1.2;
  vertical-align: middle;
  width:100%;
}
.menu_block span{
	display: block;
}

.menu_items_selected {
	background-image: url("img/menu_button_sel_background.gif");
}

.submenu_items {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	cursor:pointer;
}

.submenu_items_selected {
	padding-left: 10px;
	padding-right: 10px;
	font-size: 10px;
	cursor:pointer;
	background-image: url('img/menu_sub_select_background.gif')
}

.menu_items2 {
	margin:30px 0px;
	background-image: url("img/menu_sub_background.gif");
	height: 17px;
	width: 100%;
	font-size:10px;
	color: #000000;
	text-decoration: none;
	border-top: 1px solid gray;
}
#mainContainer {
	background-image:url('img/menu_background.gif');
	padding:7px;
}
.homeButton {
	width:15px;
	padding-left:5px;
}
.closeButton {
	width:15px;
	padding-right:5px;
}

/*
PRELOADERS PROGRESS
*/

#preloader, #progressbar {
	position:absolute;
	display:none;
	margin:-7px;
	width:100%;
	height:100%;
	cursor:wait;
	z-index:2000;
	background-image: url("img/blank.gif");
	text-align:center;
}
#preloader div, #progressbar table {
	position:absolute;
	background-image: url("img/preloader.gif");
	background-repeat:no-repeat;
	background-position:center;
	background-color:white;
	border: 1px solid silver;
	margin-left:-150px;
	margin-top:-70px;
	left:50%;
	top:50%;
	width:300px;
	height:100px;
}

#progressbar table {
	background: #fff;
}
#progressbar td {
	vertical-align: middle;
	text-align: center;
}


/*
LIST class table
*/
table.sTable {
	border:solid 1px silver;
	background-color: white;
	font-family:Tahoma;
	font-size:11px;
}
table.sTable td{
	border:solid 1px silver;
	background-color: transparent;
	font-size:11px;
	padding:2px 5px 2px 5px;
}
table.sTable td table.paginTable td{
	border:0;
}
table.sTable tr.rowOver {
	background-color:#eeffff;
}
tr.headerText td{
	background-color:#eeeeee;
	font-weight:bold;
	font-size:11px;
}
td.headerCell {
	cursor:pointer;
}
td.headerCell img {
	float:right;
}

/*
LISR class search container
*/
.searchContainer {
	background-color:#eeeeee;
}
.searchContainer td {
	width:100%;
	border:0 !important;
}
.searchContainer td table {
	border:0 !important;
	width:100%;
}
.searchContainer .searchFields td {
	width:0%;
}

.HeaderTextTD  {
	padding:0;
}
.showFilterTD {
	cursor:pointer;
}


.paginButton {
	height:16px;
	width:16px;
	background-color: #ddffee;
	padding:0 3px 0 3px;
	margin:0 3px 0 3px;
	font-size:12px;
	border: outset 1px #aaaaaa;
	-moz-border-radius:3px;
	
}
.paginButton span{
	position:absolute;
	margin:-10px 0 0 -3px;
	cursor:inherit;
}

.searchDate {width:0% !important;}
.searchDate td {
	padding:0px;
	white-space: nowrap;
}
.searchDate img {
	padding:2px;
	border:0px;
}
.calSearchContent {
	position:absolute;
}

.editListFields {
	cursor: pointer;
}
.editHintTable {
	background-color:#ffffee;
}
.editHintSpan {
	text-decoration:underline;
}
.editHintDiv {
	position:absolute;
}
.searchOutHtml {
	float:left;
	font-weight: normal;
	margin-left:5px;
}
.searchControlContainer {
	float:left;
}


/*
EDIT class table
*/
table.editTable {
	border:0;
	font-family:Tahoma;
	font-size:11px;
}
.eFirstCell, table.editTable tr td:first-child {
	background-color:transparent;
	font-size:11px;
	font-weight:bold;
	border:0;
	text-align:right;
	padding:3px;
}
.newRulesModule {
	text-decoration:underline;
	cursor:pointer;
}
.newRulesSubModule {
	text-decoration:underline;
	cursor:pointer;	
}
.newFieldEnum {
	text-decoration:underline;
	cursor:pointer;
}

table.editTable td {
	background-color:transparent;
	border:0;
	vertical-align:top;
	padding:3px;
}
.requiredStar {
	color:red !important;
	padding:3px;
}
.reqField {
	border:1px solid red;
	font-size:11px;
}
.changePass {
	cursor:pointer;
}
.fieldRolesShortDescr {
	width: 300px;
}

.buttonSave {
	position:absolute;
	margin-left:-4000;
}
.editResizeDiv {
	z-index:100000;
	width:505px;
	height:505px;
	position:absolute;
	overflow:hidden;
	left:-10000px;
	top:0px
}

.editResizeTD {
	vertical-align:top;
}
.file-delete button{
	cursor: pointer;
    display: inline-block;
    margin-right: 0.1em;
    overflow: visible;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none !important;
}

/*
TAB class table
*/
.containerTable {
	border-collapse:collapse; 
	background-color:  #f5fff5 !important;
	border: 1px solid #CCCCCC;
	width: 100%;
	font-size: 12px;
}
.containerTD {
	padding: 5px;
	background-color: #f5fff5 !important;
	width: 100%;
}
.containerHeaderTD {
	padding: 3px 5px 3px 5px;
	font-weight: bold;
	height: 22px;
	font-size: 13px;
	background-color: #f5f5f5 !important;
	background: transparent url(img/list_header_repeat.png) repeat-x;
	overflow: hidden;
}
.containerHeaderDiv {
	float: left;
}
.tabsLeftSideTD {
	padding-left:15px;
	border-top:1px solid #CCCCCC;
}
.tabsRightSideTD {
	padding-right:15px;
	width:100%;
	border-top:1px solid #CCCCCC;
}
.tabsTable {
	border:0;
	border-collapse:collapse;
}
.tabActiveTD {
	padding:0;
	border-top:1px solid #eeeeee;
}
.tabInactiveTD {
	padding:0;
	border-top:1px solid #CCCCCC;
}
.tabActive {
	padding: 3px 7px 3px 7px;
	height:16px;
	font-weight: bold;
	cursor:pointer;
	white-space:nowrap;
	text-align:center;
	background-color:#FFFFFF;
	border-right:1px solid #CCCCCC;
	border-bottom:2px solid #d80043;
	border-left:1px solid #CCCCCC;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}
.tabInactive {
	padding: 3px 7px 3px 7px;
	height:15px;
	font-weight: normal;
	cursor:pointer;
	white-space:nowrap;
	text-align:center;
	background: transparent url(img/list_header_repeat.png) repeat-x;
	border-right:1px solid #CCCCCC;
	border-bottom:1px solid #CCCCCC;
	border-left:1px solid #CCCCCC;
	-moz-border-radius-bottomleft:4px;
	-moz-border-radius-bottomright:4px;
}
.hide {display:none}
.show {display:block}



/*Image Edit*/
.imgEditControl td {
	font-size:11px !important;
	font-weight:normal !important;
	text-align:left !important;
}
.imgEditImage td {
	font-size:1px !important;
	font-weight:normal !important;
	text-align:center !important;
	vertical-align:middle !important;
	padding: 0px !important;
}

/*calendar*/
.calendarContainer {
	position:absolute;
	z-index:1000;
}

table.calendar {
	background-color: #EEEEEE;
	border: 1px solid silver;
}


button, .button {
	background-color: #ddffee;
	padding:0 3px 0 3px;
	margin:0 3px 0 3px;
	font-size:12px;
	border: outset 1px #aaaaaa;
	height:25px;
	-moz-border-radius:3px;
}

.buttonDisabled {
	background-color: #efefef;
	padding:0 3px 0 3px;
	margin:0 3px 0 3px;
	font-size: 12px;
	color: silver;
	border: outset 1px #aaaaaa;
	height:25px;
	-moz-border-radius:3px;
}

.help {
	font-weight:normal;
	font-size:11px;
	padding:15px;
	border:1px solid #FFEF00;
	width:200px;
	margin-left:-240px;
	position:absolute;
	background-color:red;
	display:none;
	background-color:#ffff8c
}
.helpClose {
	text-align: right;
}
.helpClose span{
	cursor: pointer;
	text-decoration: underline;
	color: #00f;
}
.helpHeaderDiv {
	float:right; 
	display: inline;
}
.helpImg{
	
}
.left {
	float:left;
}

/* simple modal */
#simplemodal-overlay {
	background-color:#000;
	cursor:wait;
	filter: alpha(opacity=60);
	height: 100%;
}

#simplemodal-container {
	height:auto;
	left:50%;
	margin-left:-100px;
	top:50%; 
	margin-top: -270px;
	background-color:#fff;
	border:3px solid #ccc;
	padding: 0px;
} 
a.modalCloseImg {
	background:url(img/icon_delete.gif) no-repeat;
	width:25px; 
	height:26px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-3px;
	right:-25px;
	cursor:pointer;
} 
/*HINT*/
.etip div
{
	background: none repeat scroll 0 0 #FFEEB1;
    margin-left: 4px;
    padding: 6px 15px;
    position: absolute;
    top: -4px;
    width: 200px;
	border:1px solid #666;
	font-size: 10px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.etip
{
	background-image: url("img/arrow-right-comment.gif");
    background-position: 5px 5px;
    background-repeat: no-repeat;
    display: inline;
    height: 36px;
    position: absolute;
    width: 250px;
	padding-left: 5px;
		
}
/*Install Module*/

.installError {
	color: red;
}

/* Home page*/

.feedBackCharts {
	padding:10px;
}

.feedBackOption {
	font-weight: bold;
}

.feedBackSelect {
	width: 100%;
}
.feedBackMessage {
	width: 100%; 
	height: 120px;
	overflow: auto;
}
table td.homeTD {
	padding:10px;	
}

.shortDescrNews {
	margin-left:70px;
	cursor:pointer;
}
.contentNews {
	margin-left:70px;	
}
/* Audit module*/

.auditSql{
	color: blue;
}

.auditWarningText{
	color: red;
}
.auditButton{
	margin-top:5px;
}
.auditLineCorrect {
	text-decoration:underline;
}
