a {color: #337AB7}
#menu-container {
    position:fixed;
    width:100%;
    z-index: 1000;
    box-shadow: 0 1px 4px #DFDFDF;
    -moz-box-shadow: 0 1px 4px #DFDFDF;
    -o-box-shadow: 0 1px 4px #DFDFDF;
    -webkit-box-shadow: 0 1px 4px #DFDFDF;
}
#heme-button > a {
    padding-left:7px;
    padding-right:10px;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 500;
    color: #555;
    text-decoration: none;
}
#user-section {padding: 0 10px}
#menu-row-1 {
    background-color: #E4EBF7;
    background: -webkit-linear-gradient(to top, #E4E4E4, #CFDCF5);
    background:    -moz-linear-gradient(to top, #E4E4E4, #CFDCF5);
    background:     -ms-linear-gradient(to top, #E4E4E4, #CFDCF5);
    background:      -o-linear-gradient(to top, #E4E4E4, #CFDCF5);
    background:         linear-gradient(to top, #E4E4E4, #CFDCF5);
}
#menu-row-2 {background-color: #F0F0F0}
#menu-row-2 > td {
    border-bottom: 1px solid silver;
    border-top: 1px solid silver;
}
#menu-modules {
    padding: 0;
    margin-top: 11px !important;
}
#menu-modules .menu-module,
#menu-modules .menu-module-selected {
    list-style: none;
    line-height: 26px;
    padding: 0 8px;
    margin-right: 4px;
    min-width: 98px;
    height: 29px;
    border: 1px solid #C0C0C0;
    border-bottom-width: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size:12px;
    color: #3A3A3A;
    float:left;
    cursor:pointer;
    text-align:center;
    background-color: #fff;
    background: -webkit-linear-gradient(to top, #E7E7E7, #fff);
    background:    -moz-linear-gradient(to top, #E7E7E7, #fff);
    background:     -ms-linear-gradient(to top, #E7E7E7, #fff);
    background:      -o-linear-gradient(to top, #E7E7E7, #fff);
    background:         linear-gradient(to top, #E7E7E7, #fff);
}
#menu-modules .menu-module-selected {
    background-color: #FFE1B2;
    background: -webkit-linear-gradient(to top, #FFD6B0, #FFE1B2);
    background:    -moz-linear-gradient(to top, #FFD6B0, #FFE1B2);
    background:     -ms-linear-gradient(to top, #FFD6B0, #FFE1B2);
    background:      -o-linear-gradient(to top, #FFD6B0, #FFE1B2);
    background:         linear-gradient(to top, #FFD6B0, #FFE1B2);
}
#menu-modules .menu-module.pills,
#menu-modules .menu-module-selected.pills {
    border-radius: 4px;
    border-bottom-width: 1px;
    margin-bottom: 4px;
}
#menu-submodules {
    padding: 0;
    margin: 0;
    min-height: 20px;
}
#menu-submodules .menu-submodule,
#menu-submodules .menu-submodule-selected {
    list-style: none;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    font-size: 11px;
    line-height: 19px;
    cursor:pointer;
    float: left;
    color: #000;
}
#menu-submodules .menu-submodule-selected {
    background-color: #98C8FF;
    padding-bottom: 1px;
}