html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
    background: #ededed;
    color: #777;
}
.login-form {
    width: 320px;
    padding: 40px 30px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    border: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 10px rgba(0,0,0,.15);
    box-shadow:  0 0 10px rgba(0,0,0,0.15);
}
.log-btn {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    color: white;
    width: 100%;
    background: #428bca;
    border: 0;
    border-radius: 4px;
    transition: background .2s;
}
.log-btn:hover {
    background: #286090;
}
.logo-container {
    text-align: center;
    margin-bottom: 60px;
}
#error {
    color: red;
    margin-bottom: 15px;
}
#UserName {
    margin-bottom: 15px;
    height: 40px;
}
#gfhjkm {
    margin-bottom: 30px;
    height: 40px;
}