html {
    height: 100%;
}
body {
    margin: 0;
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    min-height: 100%;
    background: #ededed;
    background: radial-gradient(0% 100%, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(138,114,76,0) 40%),
                linear-gradient(to bottom, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%),
                linear-gradient(135deg, #20465d 0%,#4a232b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
    color: #777;
}
.form-main {
    width: 320px;
    padding: 90px 30px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 15%;
    border: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.2);
    box-shadow: 0 0 50px rgba(0,0,0,0.2);
}
.btn-login {
    font-size: 16px;
    height: 40px;
    line-height: 40px;
    padding: 0 24px;
    color: white;
    width: 100%;
    background: #428bca;
    border: 0;
    border-radius: 4px;
    transition: background .2s;
}
.btn-login:hover {
    background: #286090;
}
.logo-container {
    text-align: center;
    margin-bottom: 60px;
}
#error {
    color: red;
    margin-bottom: 15px;
}
#UserName {
    margin-bottom: 15px;
    height: 40px;
}
#gfhjkm {
    margin-bottom: 30px;
    height: 40px;
}
.error-message {
    color: #e50000;
}

/*
PRELOADERS
*/

.btn-loader {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-bottom: -2px;
}
.btn-loader:after {
    content: " ";
    display: block;
    width: 15px;
    height: 15px;
    padding-right: 10px;
    border-radius: 50%;
    border: 2px solid #fff;
    border-color: #fff transparent #fff transparent;
    animation: btn-loader 1.2s linear infinite;
}
@keyframes btn-loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.callback-button-form-user {
    margin-top: 20px;
}
.error {
    color: red;
    margin-bottom: 15px;
}