@CHARSET "UTF-8";

.mod_danger {
    background-color: #fce7e3;
    width:90%;
    border-left:5px solid red;
    padding-left:15px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:15px;
    color:black;
    margin: 10px;
}
.mod_danger > font{
    color:red;
}
.mod_info {
    background-color: #dff0d8;
    width:90%;
    border-left:5px solid green;
    padding-left:15px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:15px;
    color:black;
    margin: 10px;
}
.mod_info > font{
    color:green;
}
.mod_warning {
    background-color: #f9fee2;
    width:90%;
    border-left:5px solid yellow;
    padding-left:15px;
    padding-top:1px;
    padding-bottom:1px;
    padding-right:15px;
    color:black;
    margin: 10px;
}
.mod_warning > font{
    color: #ffcb00;
}
